extends ../layout

block content
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#')= title
            .navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#') Dashboard
                    li
                        a(href='#') Settings
                    li
                        a(href='#') Profile
                    li
                        a(href='#') Help
                form.navbar-form.navbar-right
                    input.form-control(type='text', placeholder='Search...')

    .container-fluid
        .row
            .col-sm-3.col-md-2.sidebar
                ul.nav.nav-sidebar
                    li.active
                        a(href='#') Overview
                    li
                        a(href='#') Reports
                    li
                        a(href='#') Analytics
                    li
                        a(href='#') Export
                ul.nav.nav-sidebar
                    li
                        a(href='') Nav item
                    li
                        a(href='') Nav item again
                    li
                        a(href='') One more nav
                    li
                        a(href='') Another nav item
                    li
                        a(href='') More navigation
                ul.nav.nav-sidebar
                    li
                        a(href='') Nav item again
                    li
                        a(href='') One more nav
                    li
                        a(href='') Another nav item
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1.page-header Dashboard
                .row.placeholders
                    -if (perms['Manage Roles'])
                        .col-xs-6.col-sm-3.placeholder
                            img.img-responsive(src='images/permissions.png', alt='Generic placeholder thumbnail')
                            h4 Permissions
                            span.text-muted Manage permissions
                    -if (perms['Manage Roles'])
                        .col-xs-6.col-sm-3.placeholder
                            img.img-responsive(src='images/roles.png', alt='Generic placeholder thumbnail')
                            h4 Roles
                            span.text-muted Manage roles
                    -if (perms['Manage Users'])
                        .col-xs-6.col-sm-3.placeholder
                            img.img-responsive(src='images/users.png', alt='Generic placeholder thumbnail')
                            h4 Users
                            span.text-muted Manage users
                h2.sub-header My Permissions
                .table-responsive
                    table.table.table-striped
                        thead
                            tr
                                th #
                                th Name
                                th Level
                                th Description
                        tbody
                            - each perm, idx in permissions
                                tr
                                    - each value, idf in perm
                                        td= value
